<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<insert id="memberAdd" parameterType="MemberDTO">
	insert into member (userid,passwd,username,post,addr1,addr2,
	phone,email,birth)
	 values (#{userid},#{passwd},#{username},#{post},#{addr1},#{addr2},
			#{phone},#{email},#{birth})
	</insert>
	
	<select id="memberLogin" parameterType="hashmap" resultType="MemberDTO">
	select userid,passwd,username,post,addr1,addr2,phone,email,birth 
	from member where userid=#{userid} and passwd=#{passwd}
	</select>
	
	<select id="memberidCheck" parameterType="string"  resultType="int">
     select count(*)
     from member
     where userid = #{userid}
	</select>
	
	<select id="loginCheck" parameterType="string" resultType="MemberDTO">
	 select * from member where userid = #{userid}
	</select>
	
	<update id="infoUpdate" parameterType="MemberDTO">
	 update member set
	 username = #{username},
	 birth = #{birth},
     phone = #{phone},
	 post = #{post},
     email = #{email},
     addr1 = #{addr1},
     addr2 = #{addr2}
  	  where userid = #{userid}
	</update>
	
</mapper>